<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" style="background-color: grey;"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2" style="background-color: grey;"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3" style="background-color: grey;"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      {% comment %} ССылка на книгу pk = id книги {% endcomment %}
      <a href="{% url 'directories:view-book' pk=4 %}" style="text-decoration: none; color: rgba(255, 255, 255, 0.55);">
        <img src="media/book/carusel1.jpg" class="d-block w-100" alt="...">
      </a>
    </div>
    <div class="carousel-item">
      {% comment %} ССылка на автора в поиске query=autor {% endcomment %}
      <a href="{% url 'search:search' %}?q=Агата+Кристи" style="text-decoration: none; color: rgba(255, 255, 255, 0.55);">
        <img src="media/book/carusel2.jpg" class="d-block w-100" alt="...">
      </a>
    </div>
    <div class="carousel-item">
      <img src="media/book/carusel1.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>