<div>
  {% if user.is_authenticated %}
      <form action="{% url 'directories:create-book' %}">
        <button class="btn btn-primary">Добавить</button>
      </form>
  {% endif %}

  <div class="container-book">
    {% for object in object_list %}
    <div class="book-block">
      <div class="card" style="width: 100%;">

        <img src="{{ object.book_picture_medium }}" width="250" height ="300" 
          style="object-fit: fill" class="card-img-top" alt=" "
        >
      
        <div class="card-body">
          <h5 class="card-title">{{object.book_name}}</h5>

          <p class="card-text">
            Рейтинг: {{object.rating}}
          </p>
          <p class="card-text">
            Автор: {{object.autor}}
          </p>
          <p class="card-text">
            Жанр: {{object.genre}}
          </p>
          <p class="card-text">
            Год публикации: {{object.year_publishing}}
          </p>
          <p class="card-text">
            Цена: {{object.book_price}} BYN
          </p>
        </div>

        {% if user.is_authenticated %}
        <a href="{% url 'directories:update-book' pk=object.pk %}" 
          class="btn btn-primary" style ="margin: 0.1rem 0.1rem">Изменить</a>

          {% if user.is_superuser %}
            <a href="{% url 'directories:delete-book' pk=object.pk %}" 
              class="btn btn-primary" style ="margin: 0.1rem 0.1rem">Удалить</a>

          {% endif %}
        {% endif %}
        
        <a href="{% url 'directories:view-book' pk=object.pk %}" 
          class="btn btn-primary" style ="margin: 0.1rem 0.1rem">Подробнее</a>
      
      </div>
    </div>

  {%endfor%}
  </div>
</div>