<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <div style="width: 100%; text-align: 5%;">
    <div style="margin: 2% 1% 1% 1%">
      <form action="autors.html">
        <button style="padding: 1%;">Autors</button>
      </form>
    </div>
  
    <div style="margin:1%">
      <form action="genres.html">
        <button style="padding: 1%;">Genres</button>
      </form>
    </div>

    <div style="margin: 1%">
      <form action="publishing_house.html">
        <button style="padding: 1%;">Publishing house</button>
      </form>
    </div>
    
    <div style="margin: 1%">
      <form action="series.html">
        <button style="padding: 1%;">Series</button>
      </form>
    </div>
   
    <div style="margin: 1% 1% 2% 1%">
      <form action="books.html">
        <button style="padding: 1%;">Books</button>
      </form>
    </div>
  </div>
</body>
</html>