{% extends 'base.html' %}

{% block TITLE %}Homepage{% endblock TITLE %}

{% block BODY %}
<div style=" width: 15%; height: 15%; margin: 3%; background-color: #EBEBEB;">
  <div style="width: 100%;">
    <div style="margin: 4% 0;">

      <form action="{% url "directories:autors-view" %}">
        <button onmouseover = "this.style.backgroundColor='white'"
          onmouseout = "this.style.backgroundColor='#EBEBEB'"
          style="padding: 3%; width: 100%; height: 10%; border-radius: 20% 10%; cursor: pointer;">
          <b style="font-size: 1vw;">
            Autors
          </b>
        </button>
      </form>

    </div>
  
    <div style="margin: 4% 0;">

      <form action="{% url "directories:genre-list-view" %}">
        <button onmouseover = "this.style.backgroundColor='white'"
          onmouseout = "this.style.backgroundColor='#EBEBEB'"
          style="padding: 3%; width: 100%; height: 10%; border-radius: 20% 10%; cursor: pointer;">
          
          <b style="font-size: 1vw;">
            Genres
          </b>
        </button>
      </form>

    </div>

    <div style="margin: 4% 0;">

      <form action="{% url "directories:publishing-house-view" %}">
        <button onmouseover = "this.style.backgroundColor='white'"
          onmouseout = "this.style.backgroundColor='#EBEBEB'"
          style="padding: 3%; width: 100%; height: 10%; border-radius: 20% 10%; cursor: pointer;">
          
          <b style="font-size: 1vw;">
            Publishing house
          </b>
        </button>
      </form>

    </div>
    
    <div style="margin: 4% 0;">

      <form action="{% url "directories:series-view" %}">
        <button onmouseover = "this.style.backgroundColor='white'"
          onmouseout = "this.style.backgroundColor='#EBEBEB'"
          style="padding: 3%; width: 100%; height: 10%; border-radius: 20% 10%; cursor: pointer;">
          <b style="font-size: 1vw;">
            Series
          </b>
        </button>
      </form>

    </div>
   
    <div style="margin: 4% 0;">

      <form action="{% url "directories:book-view" %}">
        <button onmouseover = "this.style.backgroundColor='white'"
          onmouseout = "this.style.backgroundColor='#EBEBEB'"
          style="padding: 3%; width: 100%; height: 10%; border-radius: 20% 10%; cursor: pointer;">
          <b style="font-size: 1vw;">
            Books
          </b>
        </button>
      </form>

    </div>
  </div>
</div>
{% endblock BODY %}