{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block TITLE %}Profile{% endblock TITLE %}

{% block HEAD %}

{% endblock HEAD %}

{% block BODY %}
{% block content %}
<br><br>
<div class="container mx-auto">
    <div class="row" style="margin-left:20%;">
      <div class="col-sm-12 col-md-12 col-lg-9 pb-4">
        <div class="card p-4">
          <h4 class="card-title font-weight-bold text-center">Profile: {{ user.username|title }}</h4>
            <hr>
          <div class="card-text">
            <p class="text-muted mb-0" style="font-size: 12px">Логин:</p>
            <p>{{ user.username }}</p>
            {% if account.view_personal_info %}
              {% if user.email != "" %}
                <p class="text-muted mb-0" style="font-size: 12px">Email:</p>
                <p>{{ user.email }}</p>
              {% endif %}
              {% if user.first_name != "" %}
                <p class="text-muted mb-0" style="font-size: 12px">Имя:</p>
                <p>{{ user.first_name }}</p>
              {% endif %}
              {% if user.last_name != "" %}
                <p class="text-muted mb-0" style="font-size: 12px">Фамилия:</p>
                <p>{{ user.last_name }}</p>
              {% endif %}
                <p class="text-muted mb-0" style="font-size: 12px">Телефон:</p>
                <p>{{ account.phone }}</p>
            
              <p class="text-muted mb-0" style="font-size: 12px">Группа:</p>
              <p>
                {% if groups %}
                    {% for group in groups %}
                      {{ group.name }}
                    {% endfor %}
                {% endif %}
              </p>
              <p class="text-muted mb-0" style="font-size: 12px">Домашний адрес:</p>
              <p>{{ account.address }}</p>
              {% if account.gender != "" %}
                <p class="text-muted mb-0" style="font-size: 12px">Пол:</p>
                <p>{{ account.gender }}</p>
              {% endif %}
              
              
          {% endif %}

              <p class="text-muted mb-0" style="font-size: 12px">Персональные данные:</p>
                {% if account.view_personal_info %}
                  <p>Отображать</p>
                {% else %}
                  <p>Не отображать</p>
                {% endif %}

            <form action="{% url 'user_profile:update-account' user.id%}">
              <button class="btn btn-outline-dark" >Изменить данные</button>
            </form>
            <br>
            <form action="{% url 'staff:logout' %}">
              <button class="btn btn-outline-danger" >Выйти, {{ user }}</button>
            </form>

            <p class="text-muted mb-0" style="font-size: 12px">Заказы:</p>
                {% for order in orders %}
                  
                  <p>
                    {% if order.status == "В обработке" %}
                    <a href="{% url 'cart:order_details' order.id %}" style="text-decoration: none; color: black;">
                      <div class="btn" style="height: 40px; width: 80%; border-color: black;">
                         <span style="margin-right: 50%;">Заказ №{{ order.id }}</span>
                         <span>
                            В обработке
                           <ion-icon name="reload-outline"></ion-icon>
                         </span>
                       </div>    
                    </a>
                    {% elif order.status == "Выполняется" %}
                    <a href="{% url 'cart:order_details' order.id %}" style="text-decoration: none; color: black;">
                      <div class="btn" style="height: 40px; width: 80%; border-color: black;">
                         <span style="margin-right: 48%;">Заказ №{{ order.id }}</span>
                         <span>
                            Выполняется
                            <ion-icon name="car-outline"></ion-icon>
                         </span>
                       </div>    
                    </a>
                    {% elif order.status == "Доставлено" %}
                    <a href="{% url 'cart:order_details' order.id %}" style="text-decoration: none; color: black;">
                      <div class="btn" style="height: 40px; width: 80%; border-color: black;">
                         <span style="margin-right: 50%;">Заказ №{{ order.id }}</span>
                         <span>
                            Доставлено
                            <ion-icon name="chevron-down-circle-outline"></ion-icon>
                         </span>
                       </div>    
                    </a>
                    {% elif order.status == "Отменен" %}
                    <a href="{% url 'cart:order_details' order.id %}" style="text-decoration: none; color: black;">
                      <div class="btn" style="height: 40px; width: 80%; border-color: black;">
                         <span style="margin-right: 54%;">Заказ №{{ order.id }}</span>
                         <span>
                           Отменен
                            <ion-icon name="close-outline"></ion-icon>
                         </span>
                       </div>    
                    </a>
                    {% endif %}
                  </p>
                {% empty %}
                  <p>Заказы отсутствуют</p>
                {% endfor %}


            </div>
        </div>
      </div>
  </div>
</div>

{% endblock %}
{% endblock BODY %}
