{% extends 'base.html' %}

{% block TITLE %}Book{% endblock TITLE %}

{% block BODY %}
  <form action="/">
    <button>Back</button>
  </form>
  <form action="{% url 'directories:create-book' %}">
    <button>Add</button>
  </form>
  {% for object in object_list %}
    <div>
      <ul>
        <p style="font-size: 130%;font-weight: bold;">Book №{{object.pk}}</p>
        <li>Book name: {{object.book_name}}</li>
        <li>book image: <img src="{{object.book_image}}" alt=" "></li>
        <li>book price: {{object.book_price}}</li>
        <li>autor: {{object.autor}}</li>
        <li>series: {{object.series}}</li>
        <li>genre: {{object.genre}}</li>
        <li>book publishing: {{object.year_publishing}}</li>
        <li>book page: {{object.page}}</li>
        <li>binding: {{object.binding}}</li>
        <li>book format: {{object.format_book}}</li>
        <li>ISBN: {{object.ISBN}}</li>
        <li>weight: {{object.weight}}</li>
        <li>book age restrictions: {{object.age_restrictions}}</li>
        <li>publishing_house: {{object.publishing_house}}</li>
        <li>counter_book: {{object.counter_book}}</li>
        <li>active: {{object.active}}</li>
        <li>book rating: {{object.rating}}</li>
        <form action="{% url 'directories:update-book' pk=object.pk %}">
          <button>Edit</button>
        </form>
        <form action="{% url 'directories:delete-book' pk=object.pk %}">
          <button>Delete</button>
        </form>
      </ul>
    </div>
  {%endfor%}
  {% endblock BODY %}