{% extends 'base.html' %}

{% block HEAD %}
<style>
.card-prod {
  margin: auto;
  max-width: 1000px;
  padding: 20px;
  text-align: center;
}

.div-img {
  text-align: center;
  float: left;
  margin: 0 20px 5px 90px;
  width: 350px;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

.div-text {
  margin-left: 550px;
  text-align: left;
  word-break: break-all;
}

h5 {
  font-size: 3em;
  margin-bottom: 10px;
  margin-top: 0;
}

p {
  font-size: 14px;
  margin: 0;
  padding: 2.5px 0;
  color: grey;
  word-break: normal;
}
.p_rating{
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 20px ;
  color: rgb(47, 79, 60);
}
#btn-add-to-cart-active{
  margin: 0.1rem 0.1rem; 
  background-color: seagreen; 
  border-color: seagreen;
}
#btn-add-to-cart-active:hover{
  margin: 0.1rem 0.1rem; 
  background-color: rgb(38, 175, 95); 
  border-color: rgb(38, 175, 95);
}
.a-hover-views-book{
  text-decoration:none;
  color: grey
}
.a-hover-views-book:hover{
  text-decoration:underline;
  color: grey
}

</style>
{% endblock HEAD %}

{% block TITLE %}Book{% endblock TITLE %}

{% block BODY %}

  <div class="card-prod">
    <div class="div-img">
      <img src="{{ object.book_image.url }}" alt=" ">
    </div>

    <div class="div-text">
        <h5 style="font-size: 2em; font-weight: 400; word-break: normal;">{{object.book_name}}
          <p>
          Автор: 
          <a class="a-hover-views-book" href="{% url 'search:search' %}?q={{ object.autor }}">
            {{ object.autor }}  
          </a>
          </p>
          <p class="p_rating">
            Рейтинг: {{object.rating}}<span style="color:gold;">★</span>
          </p>
        </h5>
        
        
        {% if object.active == "Y" %}
          <h5 style="color: darkgreen;">
            {{object.book_price}} BYN
          </h5>
          {% if user.is_authenticated %}
            {% comment %} если залогинен {% endcomment %}
            {% if already_in_cart %}
              {% comment %} если в корзине {% endcomment %}

              <a href="#" class="btn btn-primary" id="btn-add-to-cart-active">Добавлено</a>
              
            {% else %}
              {% comment %} если не в корзине {% endcomment %}

              <a href="{% url 'cart:add_to_cart' pk=object.pk %}"
                class="btn btn-primary" id="btn-add-to-cart-active">Добавить в корзину</a>

            {% endif %}

          {% else %}
            {% comment %} если не залогинен {% endcomment %}

            <a href="{% url 'staff:login' %}"
              class="btn btn-primary" id="btn-add-to-cart-active">Добавить в корзину</a>

          {% endif %}
          
        {% else %} 
          <h5 style="color: grey;">
            {{object.book_price}} BYN
          </h5>
          <a href="#"
            class="btn btn-secondary" style ="margin: 0.1rem 0.1rem; pointer-events: none; background-color: #E4E4E4; border-color: #E4E4E4; color: darkgrey;">Нет на складе</a>
        {% endif %}
        
        <p style="padding-top: 20px;">
        Серия: {{object.series}}
        </p>
        <p>
        Жанр: <a class="a-hover-views-book" href="{% url 'search:search' %}?q={{ object.genre }}">
                {{ object.genre }}  
              </a>
        </p>
        <p>
        Год издательства: {{object.year_publishing}}
        </p>
        <p>
        Страницы: {{object.page}}
        </p>
        <p>
        Переплёт: {{object.binding}}
        </p>
        <p>
        Формат книги: {{object.format_book}}
        </p>
        <p>
        ISBN: {{object.ISBN}}
        </p>
        <p>
        Вес: {{object.weight}}
        </p>
        <p>
        Ограничения по возрасту: {{object.age_restrictions}}+
        </p>
        <p>
        Издательство: {{object.publishing_house}}
        </p>
        <p>
        В наличии книг: {{object.counter_book}}
        </p>



        {% if  'Managers' in user.groups.all|join:', '  %}
        <p style="color: #0d6efd; font-weight: 600;">
          Доступна: {{object.active}}
        </p>
        {% endif %}
        
        {% if  'Managers' in user.groups.all|join:', '  %}
        <a href="{% url 'directories:update-book' pk=object.pk %}" 
          class="btn btn-primary" style ="margin: 0.1rem 0.1rem">Изменить</a>


          <a href="{% url 'directories:delete-book' pk=object.pk %}" 
            class="btn btn-primary" style ="margin: 0.1rem 0.1rem">Удалить</a>
        {% endif %}
    </div>
    <div style="bottom: 0; text-align: left; margin-top: 80px;">
      
      {% include "comments/includes/comments.html" %}
      
    </div>
  </div>

{% endblock BODY %}