{% extends 'base.html' %}

{% block TITLE %}Autor{% endblock TITLE %}

{% block BODY %}
  <form action="{% url 'directories:add-autors' %}">
    <button class="btn btn-primary">Add</button>
  </form>

  <div class="container-book">
    {% for object in object_list %}
    <div class="book-block">
      <div class="card" style="width: 100%;">
      
        <div class="card-body">
          <h5 class="card-title">{{object.autor_name}}</h5>
          <p class="card-text">
            <div class="accordion">
              <div class="accordion-item">
                <h2 class="accordion-header">

                    <button class="accordion-button collapsed " 
                      style="align-items: stretch; flex-direction: column;" 
                      type="button" data-bs-toggle="collapse" 
                      data-bs-target="#object{{ forloop.counter}}" aria-expanded="true" 
                      aria-controls="panelsStayOpen-collapseOne">

                      Autor description
                    </button>

                </h2>
                
                <div id="object{{ forloop.counter}}" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    {{object.autor_description}}
                  </div>
                </div>
              </div>
            </div>
          </p>
        </div>

        <a href="{% url 'directories:update-autors' pk=object.pk %}" class="btn btn-primary" style ="margin: .1rem .1rem">Edit</a>
        <a href="{% url 'directories:delete-autors' pk=object.pk %}" class="btn btn-primary" style ="margin: .1rem .1rem">Delete</a>
      
      </div>
    </div>
  
    {%endfor%}
  </div>

{% endblock BODY %} 
