{% extends 'base.html' %}

{% block TITLE %}Autor{% endblock TITLE %}

{% block BODY %}
  <form action="/">
    <button>Back</button>
  </form>
  <form action="{% url 'directories:add-autors' %}">
    <button>Add</button>
  </form>
  {% for object in object_list %}
    <div>
      <ul>
        <p style="font-size: 130%;font-weight: bold;">Autor №{{object.pk}}</p>
        <li>Autor name: {{object.autor_name}}</li>
        <li>autor description: {{object.autor_description}}</li>
        <form action="{% url 'directories:update-autors' pk=object.pk %}">
          <button>Edit</button>
        </form>
        <form action="{% url 'directories:delete-autors' pk=object.pk %}">
          <button>Delete</button>
        </form>
      </ul>
    </div>
  {%endfor%}
{% endblock BODY %} 
