{% extends 'base.html' %}

{% block TITLE %}Autor{% endblock TITLE %}

{% block BODY %}
  <form action="{% url 'directories:add-autors' %}">
    <button>Add</button>
  </form>

  <div class="container-book">
    {% for object in object_list %}
    <div class="book-block">
      <div class="card" style="width: 18rem;">
      
        <div class="card-body">
          <h5 class="card-title">{{object.autor_name}}</h5>
          <p class="card-text">
            Autor description: {{object.autor_description}}
          </p>
        </div>

        <a href="{% url 'directories:update-autors' pk=object.pk %}" class="btn btn-primary">Edit</a>
        <a href="{% url 'directories:delete-autors' pk=object.pk %}" class="btn btn-primary">Delete</a>
      
      </div>
    </div>
  
    {%endfor%}
  </div>

{% endblock BODY %} 
