{% extends 'base.html' %}

{% block TITLE %}Genre{% endblock TITLE %}
{% block HEAD %}
<style>
  #knigi{
    background-color: grey;
    color: white;
    border: 0;
  }
  #knigi:hover{
    background-color: darkgrey;
    color: white;
    border: 0;
  }
  #series{
    background-color: grey;
    color: white;
    border: 0;
  }
  #series:hover{
    background-color: darkgrey;
    color: white;
    border: 0;
  }
  #genres{
    background-color: white;
    color: grey;
    border: 2px grey solid;
  }
  #autors{
    background-color: grey;
    color: white;
    border: 0;
  }
  #autors:hover{
    background-color: darkgrey;
    color: white;
    border: 0;
  }
  #zakaz{
    background-color: grey;
    color: white;
    border: 0;
  }
  #zakaz:hover{
    background-color: darkgrey;
    color: white;
    border: 0;
  }
  /* Стили для текста в карточке */
  #p-in-card-homepage-rating {
      word-break: normal;
      font-size: 12px;
      font-weight: 400;
      margin: 3px 0;
      color: grey;
      font-weight: 300;
    }
    /* Стили для блока книги */
    .book-block {
      display: inline-block;
      min-width: 250px;
      min-height: 400px;
      max-height: 400px;
      margin: 5% 2% 0 2%;
      
      transition: all 0.3s ease-in-out;
    }
    .book-block:hover {
      border-radius: 10px;
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    }
    .card-body {
      text-align: center;
    }
    .autor-in-card{
      color: black;
      text-align: center;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.54px;
    }
    #title_book{
      color: darkgreen;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    #find-book{
      color: grey;
      text-align: center;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      position: absolute;
      top: 370px;
      left: 80px;
    }
</style>
<!--  background-color: grey; -->
{% endblock HEAD %}
{% block BODY %}
{% include '../book/includes/nav_bar.html' %}

  {% if user.is_superuser %}
    <form action="{% url 'directories:create-genre' %}">
      <button class="btn btn-primary">Добавить</button>
    </form>
  {% endif %}

  <p style="text-align: end; margin-right: 10%; font-size: 36px; margin-top: 70px;"> 
    Жанры
    <img src="/media/genre/genre_default.jpg" alt=" " style="height: 100px; margin-left: 15px;">
  </p>

  <div class="container-book" style="text-align: left; margin-left: 5.5%;">
    {% for object in object_list %}
        <a href="{% url 'search:search' %}?q={{ object.genre_name }}" 
          style=" text-decoration: none;">
          <div class="book-block">
            <div class="card" style="width: 100%; border:0">
              <!-- Изображение книги -->
              <img src="{{ object.genre_image.url }}" width="117" height ="145" style="max-width: 117px; margin-top: 25px; margin-left: 28%; object-fit: fill;" class="card-img-top" alt=" ">
              <div class="card-body" style="width: 250px;">
                <!-- Название книги, автор, рейтинг -->
                <div>
                  <h5 class="card-title">
                    <p id="title_book">
                      {{ object.genre_name }}
                    </p>
                    <p class="autor-in-card">
                      {{ object.genre_description }}
                    </p>
                  </h5>
                </div>
                {% if user.is_superuser %}
                  <p id="find-book">
                    <a href="{% url 'directories:update-genre' pk=object.pk %}">
                      Изменить
                    </a>
                    <a href="{% url 'directories:delete-genre' pk=object.pk %}">
                      Удалить
                    </a>
                  </p>
                {% else %}
                  <p id="find-book">Найти книги... </p>
                    
                  
                {% endif %}  
              </div>
            </div>
          </div>
            
        </a>
       
          
    {% endfor %}
  </div>

{% endblock BODY %}