{% extends 'base.html' %}

{% block TITLE %}Genre{% endblock TITLE %}

{% block BODY %}
  <form action="/">
    <button>Back</button>
  </form>
  <form action="{% url 'directories:create-genre' %}">
    <button>Add</button>
  </form>
  {% for object in object_list %}
    <div>
      <ul>
        <p style="font-size: 130%;font-weight: bold;">Genre №{{ object.pk }}"</p>
        <li>Genre name: {{object.genre_name}}</li>
        <li>genre description: {{object.genre_description}}</li>
        <form action="{% url 'directories:update-genre' pk=object.pk %}">
          <button>Edit</button>
        </form>
        <form action="{% url 'directories:delete-genre' pk=object.pk %}">
          <button>Delete</button>
        </form>
      </ul>
    </div>
  {%endfor%}
{% endblock BODY %}