{% extends 'base.html' %}

{% block TITLE %}Series{% endblock TITLE %}

{% block BODY %}
  <form action="{% url 'directories:create-series' %}">
    <button>Add</button>
  </form>
  
  <div class="container-book">
    {% for object in object_list %}
    <div class="book-block">
      <div class="card" style="width: 18rem;">
      
        <div class="card-body">
          <h5 class="card-title">{{object.series_name}}</h5>
          <p class="card-text">
            Count book's series : {{object.series_description}}
          </p>
        </div>

        <a href="{% url 'directories:update-series' pk=object.pk %}" class="btn btn-primary">Edit</a>
        <a href="{% url 'directories:delete-series' pk=object.pk %}" class="btn btn-primary">Delete</a>
      
      </div>
    </div>
  
    {%endfor%}
  </div>

{% endblock BODY %}