{% extends 'base.html' %}

{% block TITLE %}Series{% endblock TITLE %}
{% block HEAD %}
<style>
  #knigi{
    background-color: grey;
    color: white;
    border: 0;
  }
  #knigi:hover{
    background-color: darkgrey;
    color: white;
    border: 0;
  }
  #series{
    background-color: white;
    color: grey;
    border: 2px grey solid;
  }
  #genres{
    background-color: grey;
    color: white;
    border: 0;
  }
  #genres:hover{
    background-color: darkgrey;
    color: white;
    border: 0;
  }
  #autors{
    background-color: grey;
    color: white;
    border: 0;
  }
  #autors:hover{
    background-color: darkgrey;
    color: white;
    border: 0;
  }
  #zakaz{
    background-color: grey;
    color: white;
    border: 0;
  }
  #zakaz:hover{
    background-color: darkgrey;
    color: white;
    border: 0;
  }
</style>
<!--  background-color: grey; -->
{% endblock HEAD %}
{% block BODY %}
{% include '../book/includes/nav_bar.html' %}

  {% if user.is_superuser %}
    <form action="{% url 'directories:create-series' %}">
      <button class="btn btn-primary">Добавить</button>
    </form>
  {% endif %}

  <p style="text-align: end; margin-right: 10%; font-size: 42px; margin-top: 70px;"> Серия <ion-icon name="logo-python"></ion-icon></p>

  <table class="table">
    <thead>
      <tr style="font-size: 28px; text-align: left;">
        <th style="width: 30%;"><span style="margin-left: 55px;">Серия</span></th>
        <th style="width: 70%;"><span style="margin-left: 55px;">Описание</span></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
    <tr style="text-align: left;">
      <td id="autor-name">
        <a href="{% url 'search:search' %}?q={{ object.series_name }}" 
          style="font-size: 24px; color: seagreen; text-decoration: none; margin-left: 55px;">
            <span style="margin-top: 50%;">{{ object.series_name }}</span>
            
        </a>
      </td>
      <td style="font-size: 18px;">
        <span style="margin-left: 55px; display: inline-block;">{{ object.series_description }}</span>
        
      </td>
      {% if user.is_superuser %}
        <td>
          <a href="{% url 'directories:update-series' pk=object.pk %}" 
            style ="margin-left:5%">Изменить</a>
        </td>
        <td>
          <a href="{% url 'directories:delete-series' pk=object.pk %}" 
            style ="margin: .1rem .1rem">Удалить</a>
        </td>
        {% else %}
        <td></td>
        <td></td>
      {% endif %} 
    </tr>     
    {% endfor %}
    </tbody>
  </table>

{% endblock BODY %}